body{
    background-color: black;
}
.tamanoCarrusel{
    height: 450px;
    background-size: contain;
}
.espacioIzq{
    margin-left: 200px;
}
/*
.tamanoImg{
    padding: 5px;
    height:300px; 
}
.Imagen{
    background-size: contain; 
    /* O "cover", "100% 100%" o "auto auto"
}*/